

<div class="flex-container flex-content-start use-full-size border-chat-box " >
    <div class="flex-column box-shadow-no-border" style="width: 100%; overflow-y: scroll;">
        <div class="flex-row border-chat-box-to" style="margin: 10px 10px 0 10px" >
            <p class="margin-left">Picture 1</p>
            <p>User 1:</p>
            <p class="margin-left">Last message</p>
        </div>
        <div class="flex-row border-chat-box-to" style="margin: 10px 10px 0 10px " >
            <p class="margin-left">Picture 1</p>
            <p>User 1:</p>
            <p class="margin-left">Last message</p>
        </div>
    </div>
</div>