<div id="profil-view">
    <h2>{{myProfile.name}}'s PROFILE</h2>

    <img class="rounded--img" src="{{myProfile.profile_pic}}"  width="150" alt="profile's picture">
    <form action="/profile/edit">
        <button>Edit</button>
    </form>
    <h4>{{myProfile.username}}</h4>
    <h4>Bio??</h4>

</div>