<ul>
{{#each languageSearch}}

<li><a href="/details/{{this._id}}">{{this.description}}</a></li>
 <img class="rounded--img" src={{this.owner.profile_pic}} alt="profile-pic" width="40px" height="40px"/>


{{/each}}
</ul>



