:root {
  --main-color:rgba(208, 52, 107);
  --main-color-transparent:rgba(208, 52, 107, 0.5);
  --main-color-light:#D95C88;
  --main-color-dark: rgb(84, 27, 61);
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

@font-face {
  font-family: "CFBacktoSchool";
  src: url("../fonts/CFBacktoSchool-Regular.ttf");
}
.custom-font {
  font-family: "CFBacktoSchool", "PT Sans", "Calibri", "Tahoma", "sans-serif";
}

a {
  color: #00b7ff;
}

.card-body {
  height: 250px;
}
.card-body2 {
  height: 125px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-centered-row {
  align-items: center;
}

.flex-fill-space {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rounded--img {
  border-radius: 50%;
  margin-right: 10px;
}

.text-card {
  margin-top: 75px;
  margin-left: 25px;
  width: 500px;
}
.text-card2 {
  margin-top: 75px;
  margin-left: 25px;
  width: 250px;
  
}

.code-size {
  font-size: 20px;
}
.username-size {
  font-size: 30px;
}

.like-details {
  margin: 0 10px;
}

.messages-details {
  margin: 0 10px;
}

.use-full-size {
  height: 60vh;
}

.new-element-position {
  justify-content: center;
  align-items: center;
}

.bottom-card {
  justify-content: space-between;
}

.text-editing {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  background-color: rgb(45, 45, 45, 95%);
  color: white;
  margin: 0px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
  border-radius: 15px;
}

.text-edit-size {
  min-width: 700px;
  min-height: 300px;
}

.margin-left {
  margin-left: 30px;
}

/* The switch - the box around the slider */
.switch {
  margin: 10px 0px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(45, 45, 45, 35%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(45, 45, 45, 95%);
  color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(45, 45, 45, 95%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-button-text {
  margin-left: 10px;
}

.margin-top {
  margin-top: 100px;
}

.margin-top-sm {
  margin-top: 20px;
}

.margin-top2 {
  margin-top: 30px;
  padding: 20px;
}


.remove-style a {
  text-decoration: none;
  color: var(--main-color-light);
}

.remove-style:hover a {
  text-decoration: none;
  color: var(--main-color-dark);
}

.circular--landscape {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.circular--landscape-size{
  width: 150px;
  height: 150px;
}

.button-14 {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:active {
  border-bottom-color: #d51c1c;
}

.button-15:active:hover {
  border-bottom-color: #a71212;
}

.button-15:hover {
  border-color: #e10c0c #ce1313 #cc1212;
}

.button-15:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
  outline: 0;
}
.button-15 {
  margin-top: 100px;
  background-image: linear-gradient(#f55454, #521919);
  border-color: #d51a1a #cd1616 #a51a1a;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(211, 0, 0, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 15px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:active {
  border-bottom-color: #7b0836;
}

.button-15:active:hover {
  border-bottom-color: #941111;
}

.button-15:hover {
  border-color: #a51856 #d3105b #e13535;
}

.button-15:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
  outline: 0;
}

.profile-container {
  margin-top: 10vh;
}
.profile-center{
  width: 30vh;
  
}

.publications-left{
  margin-top: 20vh;

}
.publications-left ul li a{
  text-decoration: none;
  color: black;

}

.comments-rigth{
  margin-top: 20vh;

}
.verticalLine { 
border-left: thin solid grey; 
margin: 10vh 2vh;

 }
 .lupa-button{
   border: none;
   background: none;
 }

 .input-button{
   padding: 20px;
   border-radius: 20px;
   border: white;
   background-color: var(--main-color);
   opacity: 0.8;
   width: 25vh;
   height: 25px;
 }

 .input-button::placeholder{
   color: black;
   font-size: 15px;
 }

.send-button{
  margin-top: 10px;
  padding: 5px;
  border-radius: 20px;
  border: white;
  background-color: var(--main-color-transparent);
  width: 80px;
}

 [type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
  font-weight: 15px;
  margin-bottom: 1rem;
  outline: none;
  padding: 10px 10px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  font-size: 8px;
}

  
  .btn-3:hover {
    background-color: var(--main-color-dark);
  }

  #edit-profile-container{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vh;
  }

  #update-button{
    margin-top: 20px;
  }

  #chat{
    background-color: var(--main-color-transparent);
    width: 110vh;
    height: 30vh;
    border-radius: 12px;
    text-align: center;
    overflow-y: scroll;
  }

  #textMessage{
    height:15vh;
  }


.logo-size-custom{
  font-size: 40px;
  text-decoration: none;
  color: black;
  transition-duration: 1s;
}

.logo-size-custom:hover{
  color: var(--main-color);
  transition-duration: 1s;
}

.flex-align-end{
  align-items: flex-end;
}

.flex-align-start{
  align-items: flex-start;
}

.flex-content-start{
  justify-content: flex-start;
}

.margin-bot-sm{
  margin-bottom: 10px;
}

.small-text{
  margin-bottom: -15px;
  margin-left: 15px;
  font-size:9px;

}

.border-chat-box{
  background-color: var(--main-color-transparent);
  margin:2px;
  border-radius: 10px;
}

.border-chat-box-to{
  background-color: var(--main-color);
  margin:2px;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0 35vh 0 35vh;
}