body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: "CFBacktoSchool";
  src: url("../fonts/CFBacktoSchool-Regular.ttf");
}
.custom-font {
  font-family: "CFBacktoSchool", "PT Sans", "Calibri", "Tahoma", "sans-serif";
}

a {
  color: #00b7ff;
}

.card-body {
  height: 250px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-centered-row {
  align-items: center;
}

.flex-fill-space {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rounded--img {
  border-radius: 50%;
  margin-right: 10px;
}

.text-card {
  margin-top: 75px;
  margin-left: 25px;
  width: 500px;
}

.code-size {
  font-size: 20px;
}
.username-size {
  font-size: 30px;
}

.like-details {
  margin: 0 10px;
}

.messages-details {
  margin: 0 10px;
}

.use-full-size {
  height: 60vh;
}

.new-element-position {
  justify-content: center;
  align-items: center;
}

.bottom-card {
  justify-content: space-between;
}

.text-editing {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  background-color: rgb(45, 45, 45, 95%);
  color: white;
  margin: 0px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
  border-radius: 15px;
}

.text-edit-size {
  min-width: 700px;
  min-height: 300px;
}

.margin-left {
  margin-left: 30px;
}

/* The switch - the box around the slider */
.switch {
  margin: 10px 0px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(45, 45, 45, 35%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(45, 45, 45, 95%);
  color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(45, 45, 45, 95%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-button-text {
  margin-left: 10px;
}

.margin-top {
  margin-top: 100px;
}

.remove-style a {
  text-decoration: none;
  color: rgb(214, 51, 132);
}

.remove-style:hover a {
  text-decoration: none;
  color: rgb(84, 27, 61);
}

.circular--landscape {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.circular--landscape-size{
  width: 150px;
  height: 150px;
}

.button-14 {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
  outline: 0;
}

.profile-container {
  margin-top: 10vh;
}
.profile-center{
  width: 30vh;
  
}

.publications-left{
  margin-top: 20vh;

}
.publications-left ul li a{
  text-decoration: none;
  color: black;

}

.comments-rigth{
  margin-top: 20vh;

}
.verticalLine { 
border-left: thin solid grey; 
margin: 10vh 2vh;

 }


